img {
  width: 20%;
  margin: 10px;
  display: inline-block;
  border: 1px solid black;
  visibility: visible;
}

div {
  width: 20%;
  height: 200px;
  display: inline-block;
}
button {
  display: block;
  margin: 20px;
  padding: 10px;
}
